@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #FFFFF3;
    --secondary-color: white;
    --borders-color: #7209B7;
    --borders-color-secondary: #80ECDA;
    --gap-hypotenuse: 100%-17rem;
}

body {
    margin: 0px;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-family: 'roboto mono', sans-serif;
}

.container-main {
    display: flex;
    flex-direction: row;
    margin: 2% 10%;
    height: max-content;
}

.container {
    padding: 0rem 1rem;
    text-align: center;
}

/* navigation bar styling */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.nav-bar {
    margin: auto;
    margin-top: 0;
    width: 99%;
    height: 6rem;
    /* border-radius: 0 0 1rem 1rem; */
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    border-top: none;
    border-bottom: 5px solid #030301;
    background-color: #DCF9F5;
}

.nav-list {
    margin: 0 auto;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}

.nav-bar .nav-link {
    text-align: right;
    list-style-position: inside;
}

.heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.nav-heading{
    text-align: left;
    font-weight: bold;
    padding: 1rem;
    height: 2rem;
}

.nav-heading a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.25rem;
    color: #00BECC;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

.nav-link {
    font-size: large;
    text-decoration: none;
    font-weight: normal;
    color: black;
    margin: 3rem 1rem 0 1rem;
}

.active{
    font-weight: bolder;
}

/* --------------------------------------- */

.main-heading {
    margin: 1rem auto 0 auto;
    text-align: center;
}

.containerOne {
    flex: 1;
    text-align: center;
    border: 5px solid var(--borders-color-secondary);
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
    height: 17rem;
    position: relative;
}
.containerTwo {
    flex: 1;
    text-align: center;
    border: 5px solid var(--borders-color-secondary);
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
    height: 17rem;
    position: relative;
}

.containerThree {
    flex: 1;
    text-align: center;
    border: 5px solid var(--borders-color-secondary);
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
    height: 17rem;
    position: relative;
}

.containerFour {
    flex: 1;
    text-align: center;
    border: 5px solid var(--borders-color-secondary);
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
    height: 17rem;
    position: relative;
}

.container-main a {
    font-style: normal;
    font-size: large;
    text-decoration: none;
}

.container-triangle-area{
    text-align: center;
    margin: auto;
    padding: 1rem;
    height: 22rem;
    margin-bottom: calc(100vh - 40.65rem);
}

.container-triangle-area input{
    margin: 1rem auto;
}
.container-hypotenuse {
    height: 22rem;
    min-height: max-content;
    padding-top: 1rem;
    margin-bottom: calc(100vh - 39.65rem);
}

.container-istriangle{
    height: 25rem;
    margin-bottom: calc(100vh - 41.58rem);
}

.container-main a[class="container-box-heading"]{
    text-decoration: none;
    color: #779BE7;
}

.quiz-section{
    height: max-content;
    max-width: 50rem;
    margin: auto;
}

.game-description {
    margin-bottom: 2rem;
}

.goto-button {
    text-decoration: none;
    font-weight: bold;
    color: grey;
    padding: 0.25rem 0.5rem;
    border: 3px solid #00D9C0;
    border-radius: 2rem;
    position: absolute;
    bottom: 0.25rem;
    left: 26%;
    align-self: center;
    margin: auto;
    margin-bottom: 1rem;
}

.question-container p {
    display: block;
    width: 50rem;
    margin: 0.5rem auto;
}

.answer-options {
    display: block;
}

.answer-options label{
    margin-left: 1.5rem;
}

.quiz-form label{
    display: inline;
}

.quiz-section #output {
    min-height: 5rem;
}

#output {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: #4e148c;
}

#input-base, #input-height {
    border: 3px solid var(--borders-color-secondary);
    border-radius: 0.5rem;
    height: 2rem;
    text-align: center;
}

.side-input {
    margin: 1rem auto;
    border: 3px solid var(--borders-color-secondary);
    border-radius: 0.5rem;
    height: 2rem;
    text-align: center;
}

.angle-input {
    margin: 1rem auto;
    border: 3px solid var(--borders-color-secondary);
    border-radius: 0.5rem;
    height: 2rem;
    text-align: center;
}

#check-button {
    border: 3px solid var(--borders-color-secondary);
    border-radius: 0.5rem;
    height: max-content;
    width: max-content;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem auto;
    font-weight: bold;
    font-size: 1rem;
    color: #9d71e8;
    background-color: aliceblue;
}

footer {
    display:block;
    margin: auto;
    width: 99%;
    box-sizing: border-box;
    bottom: 0px;
    padding: 0.5rem;
    position:static;
    height: 10.5rem;
    text-align: center;
    border-top: 5px solid #030301;
    border-left: 2px solid #030301;
    border-right: 2px solid #030301;;
    background-color: #DCF9F5;
}

#footer-quiz {
    position: fixed;
}

footer ul  {
    list-style: none;
    padding-inline-start: 0;
}

footer li {
    display: inline;
    margin: 0.5rem 1rem;
}

footer img {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 780px){
    .container-main {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .list-item-inline {
        display: block;
    }

    .nav-bar {
        height: fit-content;
        padding-bottom: 1rem;
    }

    .nav-list {
        text-align: center;
    }

    .goto-button {
        margin-bottom: 0.5rem;
        left: 30%;
    }

    .container-sections {
        min-height: 13rem;
    }

    .quiz-section {
        width: auto;
    }

    footer {
        padding-bottom: 1rem;
    }
}